<style>
    table {
        counter-reset: section;
    }

    .count::before {
        counter-increment: section;
        content: counter(section);
    }
</style>
<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark navigation-clean-search ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">e-Lib</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#All">Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/addproducts">ADD</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>

<div class="container mt-5">
    <div class="row mt-4">

    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">User name</th>
                <th scope="col">Email</th>

            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th class="count" scope="row"></th>
                <td>{{this.username}}</td>
                <td>{{this.emailid}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="/assets/js/Sidebar-Menu.js"></script>