<div class="container">
<div class="row mt-4">
      <a href="/admin/add-products" class="btn btn-success ml-auto my-5">Add product</a>
    </div>
<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>
</div>