<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Star Rating Form | CodingNepal</title> -->
    <link rel="stylesheet" href="assets/css/review.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
 
      
<div class="star-widget">
          <input type="radio" name="rate" id="rate-5" value="5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-4" value="4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-3" value="3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-2" value="2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-1" value="1">
        <label for="rate-1" class="fas fa-star"></label>
          </div>
   

</html>
  <script>
      const widget = document.querySelector(".star-widget");
      btn.onclick = ()=>{
        widget.style.display = "none";
        return false;
      }
    </script>